/*Input Container*/

.evo-c-dotValidator-container {
    position: relative;

    display: block;

    box-sizing: border-box;
    width: 220px;
    max-width: 100%;
    height: 60px;

    background-color: #ECEFF3;


}

/*Descriptions: ex: "Phone Number (US)*/

.evo-c-dotValidator-label {
    position: absolute;
    top: 10%;
    left: 2%;
    color: #9CABBA;

    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/*Style the input boxes*/

.evo-c-dotValidator-input {
    width: 100%;
    padding: 32px 10px 10px 10px;

    color: #212121;
    border: none;
    background-color: #ECEFF3;

    font-family: 'Roboto', sans-serif;

    height: 100%;
}


/*Add focus transition for input boxes*/

.evo-c-dotValidator-input:focus {
    transition: .8s ease-in;

    border: 2px solid #51D0EF;
    outline: none;
}


/*style the validation dot*/

.evo-c-validation-dot {
    position: absolute;
    top: 10px;
    right: 10px;

    border-radius: 20px;
}


/*Change container values for Age Box*/

.evo-c-dotValidator-container-age {
    width: 80px;

    font-size: 16px;
}

.evo-c-dotValidator-age-inactive {
    opacity: 0.48;
    border-bottom: 2px solid #212121;
    background-color: lightslategray;
}

.evo-c-dotValidator-age-inactive + .evo-c-validation-dot {
  background-color: #777;
}

